/* 未能缩小。正在返回未缩小的内容。
(87,12): run-time error CSS1062: Expected semicolon or closing curly-brace, found '+'
 */
@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,ul,li{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe{display:block;}
html{font-size: 13px;_font-size: 12px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
html, button, input, select, textarea,pre{font-family:'Microsoft Yahei','simsun', "arial", "sans-serif"; _font-family:"arial",'simsun','Microsoft Yahei', "sans-serif";}
button, input, select, textarea{font-size: 100%;}
body{color: #333;background-color: #e8e8e8;line-height: 1.5;}
audio,canvas,video{display: inline-block;*display: inline;*zoom: 1;}
address, cite, dfn, em, var, i{font-style: normal;}
a{color: #338de6;text-decoration: none;} 
a:focus{outline: thin dotted;outline:none;}
a:active, a:hover{outline: 0;}
a:hover{text-decoration: underline;}
q{quotes: none;}
q:before, q:after{content: '';content: none;}
small{font-size: 75%;}
sub, sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup{top: -.5em;}
sub{bottom: -.25em;}
ul, ol, li{list-style: none;}
img{border: 0;-ms-interpolation-mode: bicubic;}
svg:not(:root){overflow: hidden;}
button, input, select{vertical-align: middle;}
textarea{overflow: auto;vertical-align: top;outline:none;resize:none;}
button, input{line-height: normal; outline:none;}
button, html input[type=button], input[type=reset], input[type=submit]{-webkit-appearance: button;cursor: pointer; *overflow: visible;}
button[disabled], input[disabled]{cursor: default;}
button::-moz-focus-inner, input::-moz-focus-inner{border: 0;}
input[type=checkbox], input[type=radio]{box-sizing: border-box; *height: 13px; *width: 13px;}
input[type=search]{-webkit-appearance: textfield;box-sizing: content-box;}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration{-webkit-appearance: none;}
input::-ms-clear{display:none;}
table{border-collapse:collapse;border-spacing: 0;}
th{text-align:inherit;}
 
.link:hover{text-decoration: underline !important; color:#ff4500;}
.btn:hover{ background-color:#f5f5f5;}
.ellipsis{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}
.ball{word-break: break-all;}
.icon{display: inline-block;overflow: hidden; background-repeat:no-repeat;background-image:url(/assets/tools/shipei/ticon.png);}
.bn{border: none !important;}
.fln{ float:none !important;}
.fl{float: left; display:inline-block;}
.fr{float: right !important;display:inline-block;}
.tc{text-align: center !important;}
.tl{text-align: left !important;}
.tr{text-align: right;}
.tin24{ text-indent:24px;}
.tin48{ text-indent:48px;}
.cursor{cursor: pointer;}
.auto{ margin-left:auto; margin-right:auto;}
.overhid{ overflow:hidden;} 

.YaHei{font-family: 'Microsoft YaHei';}
.SimSun{font-family:'Tahoma','simsun' !important;}
._autohide{ display:none !important;}
._block{ display:block;}
._dinline{ display:inline-block;}
._pr{ position:relative;}
._pa{ position:absolute;}
	._top35{ top:35px;}
	._top15{ top:15px;}
	._top5{ top:5px;}
	._top7{ top:7px;}
	._left15{ left:15px !important;}
.autohide{ display:none !important;}
.block{ display:block;}
.dinline{ display:inline-block;}
.pr{ position:relative;}
.pa{ position:absolute;}
	.top35{ top:35px;}
	.top15{ top:15px;}
	.top5{ top:5px;}
	.top7{ top:7px;}
	.left15{ left:15px !important;}
	.left35{ left:35px !important;}
	.zI0{ z-index:0;}
	.zI1{ z-index:1;}
	.zI52{ z-index:52;}
	.r-70{ right:-70px !important;}
	.r-80{ right:-80px !important;}
	.r-15{ right:-15px !important;} 
	.r-z25{ right:25px !important;} 
.clear{ clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*+height:1%;}
body.Bgwhite{ background-color:#FFF;}

/*wrapper*/
.wrapper{ width:1200px; margin-left:auto;margin-right:auto; background:#fff; height:auto;}
.wrapper02{ width:1200px; margin-left:auto;margin-right:auto;height:auto;}
.wrapper03{ width:1160px; margin-left:auto;margin-right:auto; background:#fff; height:auto;}

/*font*/
.col-gray{ color:#c0c1c4;}/*灰色*/
.col-gray01{ color:#747d87 !important;}/*头部灰色*/
.col-gray02{ color:#999999;}
.col-gray03{ color:#56688a}
.col-gray04{ color:#929db3;}
.col-hint{ color:#ff4500 !important;}/*橙色提示*/
.col-hint02{ color:#f1914a;}/*橙色提示*/
.col-blue02{ color:#0474c8 !important;}/*栏目标题*/
.col-blue{ color:#0000ff;}/*广告颜色*/
.col-blue01{color:#338de6 !important;}
.col-blue03{ color:#0f8ee2;}
.col-red{ color:#ff0000 !important;}/*广告*/
.col-white{ color:#fff !important;}
.col-green{ color:#5fca25;}/*友好*/
.col-green02{ color:#228b22 !important;}

.tdbone,.tdbone:hover{ text-decoration:none;} 
.fwnone{ font-weight:normal;}
.fb{ font-weight:bold;}
.fz12{ font-size:13px !important; _font-size:12px !important;}
.fz14{ font-size:14px;}
.fz16{ font-size:16px;}
.fz18{ font-size:18px;}
.fz22{ font-size:22px;}
.fz24{ font-size:24px !important;}

/*width*/
.ww100{ width:100%;}
.w30{ width:30px;}
.w45{ width:45px;}
.w50{ width:50px;}
.w55{ width:55px;}
.w60{ width:60px !important;}
.w75{ width:75px;}
.w70{ width:70px;}
.w80{ width:80px !important;}
.w82{ width:82px;}
.w89{ width:89px;} 
.w90{width: 90px;}
.w94{width: 94px !important;}
.w100{width:100px !important}
.w105{ width:105px;}
.w110{ width:110px;}
.w114{width: 114px}
.w120{ width:120px;}
.w125{ width:125px;}
.w130{ width:130px;}
.w138{ width:138px;}
.w140{ width:140px;}
.w148{ width:148px;}
.w150{ width:150px;} 
.w151{ width:151px}
.w160{ width:160px;}
.w170{ width:170px;}
.w180{ width:180px;}
.w183 {width:183px;}
.w190{ width:190px;}
.w197{ width:197px}
.w200{ width:200px} 
.w209{ width:209px} 
.w220{ width:220px;}
.w230{ width:230px;}
.w240{ width:240px}
.w258{ width:258px;}
.w268{ width:268px;}
.w280{ width:280px !important;}
.w270{ width:270px}
.w320{ width:320px !important;}
.w350{ width:350px}
.w360{ width:360px}
.w412{ width:412px;}
.w442{ width:442px;}
.w456{ width:456px;}
.w460{ width:460px;}
.w464{ width:464px;}
.w465{ width:465px;}
.w480{ width:480px;}
.w490{ width:490px;}
.w475{ width:475px;}
.w510{ width:510px;}
.w530{ width:530px;}
.w537{ width:537px;}
.w560{ width:560px;}
.w570{ width:570px;}
.w585{ width:585px;}
.w595{ width:595px;}
.w600{ width:600px;}
.w614{ width:614px;}
.w622{ width:622px;}
.w640{ width:640px;}
.w645{ width:645px;}
.w660{ width:660px;}
.w679{ width:679px;}
.w680{ width:680px;}
.w685{ width:685px;}
.w697{ width:697px;}
.w698{ width:698px;}
.w700{ width:700px;}
.w710{ width:710px;}
.w720{ width:720px;}
.w740{ width:740px;}
.w750{ width:750px;}
.w760{ width:760px;}
.w765{ width:765px;}
.w800{ width:800px;}
.w820{ width:820px;} 
.w870{ width:870px;}
.w900{ width:900px;}
.w950{ width:950px;}
.w1070{ width:1070px;}

/*width-percentage*/
.w5-0{ width:5%;}
.w7-0{ width:7%;}
.w8-0{ width:8%;}
.w9-0{ width:9%;}
.w10-0{ width:10%;}
.w10-7{ width:10.7%;}
.w11-0{ width:11%;}
.w12-0{ width:12%;}
.w12-1{ width:12.1%;}
.w13-0{ width:13%;}
.w14-0{ width:14%;}
.w15-0{ width:15%;}
.w16-0{ width:16%;}
.w17-0{ width:17%;}
.w18-0{ width:18%;}
.w19-0{ width:19%;}
.w20-0{ width:20%;}
.w21-0{ width:21%;}
.w22-0{ width:22%;}
.w23-0{ width:23%;}
.w25-0{ width:25%;}
.w24-0{ width:24%;}
.w24-1{ width:24.1%;}
.w26-0{ width:26%;}
.w28-0{ width:28%;}
.w30-0{ width:30%;}
.w32-0{ width:32%;}
.w33-0{ width:33%;}
.w34-0{ width:34%;}
.w35-0{ width:35%;}
.w37-0{ width:37%;}
.w38-0{ width:38%;}
.w40-0{ width:40%;}
.w45-0{ width:45%;}
.w46-0{ width:46%;}
.w48-0{ width:48%;}
.w49-0{ width:49%;}
.w50-0{ width:50%;}
.w54-0{ width:54%;}
.w58-0{ width:58%;}
.w60-0{ width:60%;}
.w73-0{ width:73%;}
.w80-0{ width:80%;}
.w85-0{ width:85%;}
.w86-0{ width:86%;}
.w97-0{ width:97%;}
.w98-0{ width:98%;}
.w99-0{ width:99%;}
 
/*height*/
.hauto{ height:auto !important;}
.h24{height:24px;}
.h30{ height:30px;}
.h35{ height:35px;}
.h40{ height:40px;}
.h60{ height:60px;}
.h64{ height:54px !important;}
.h100{ height:100px;}
.h135{ height:135px;}
.h180{ height:180px;}
.h200{ height:200px;}
.h268{ height:268px;}
.h340{ height:340px;}

.lh17{ line-height:17px;}
.lh24{ line-height:24px !important;}
.lh28{ line-height:28px;}
.lh30{ line-height:30px;}
.lh34{ line-height:34px;}
.lh35{ line-height:35px;}
.lh40{ line-height:40px;}
.lh43{ line-height:43px;}
.lh45{ line-height:45px;}

/*padding*/
.pad0{ padding:0px !important;}
.pa5{ padding:5px;}
.pa5-10{ padding:5px 10px;}
.plr20{ padding-left:20px; padding-right:20px;}
.plr10{ padding-left:10px; padding-right:10px;}
.plr5{ padding-left:5px; padding-right:5px;}
.ptb2{padding-top:2px; padding-bottom:2px;}
.ptb5{padding-top:5px; padding-bottom:5px;}
.ptb10{ padding-top:10px !important; padding-bottom:10px !important;}
.ptb15{ padding-top:15px; padding-bottom:15px;}
.ptb20{ padding-top:30px; padding-bottom:30px;}
.pt2{ padding-top:2px;}
.pt5{ padding-top:5px;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pt20{ padding-top:20px;}
.pt30{ padding-top:30px;}
.pr5{ padding-right:5px;} 
.pr10{ padding-right:10px;} 
.pr15{ padding-right:15px;} 
.pr20{ padding-right:20px;} 
.pr40{ padding-right:40px;} 
.pb5{ padding-bottom:5px;} 
.pb10{ padding-bottom:10px !important;} 
.pb20{ padding-bottom:20px;} 
.pb50{ padding-bottom:50px;} 
.pl0{ padding-left:0px !important;} 
.pl5{ padding-left:5px;} 
.pl10{ padding-left:10px !important;} 
.pl15{ padding-left:15px;} 
.pl20{ padding-left:20px !important;} 
.pl25{ padding-left:25px !important;} 
.pl110{ padding-left:110px;}
.pl130{ padding-left:130px;}
/*margin*/

.ma0{ margin:0px !important; *margin:0;}
.mt3{ margin-top:3px;}
.mtb10{ margin-top:10px;margin-bottom:10px;}
.mt5{ margin-top:5px !important;}
.mt10{ margin-top:10px !important;}
.mt12{ margin-top:12px !important;}
.mt20{ margin-top:20px;}

.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}

.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}

.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
 
/*background*/
.bg-none{ background:none !important;}
.bg-white{ background-color:#FFFFFF;}
.bg-gray{ background-color:#fdfdfd;}
.bg-gray02{ background-color:#e8e8e8;}
.bg-blue{ background-color:#f2f8fc;}
.bg-blue02{ background-color:#f7fafd !important;}
.bg-blue03{ background-color:#55a7e3 !important;}
.bg-blue04{ background-color:#258fd5;}/*一般*/
.bg-blue05{ background-color:#f4faff;}
.bg-blue06{ background-color:#f5f5f5;}
.bg-blue06a{ background-color:#e2f3ff;}
.bg-blue07{background-color:#d9efff;}
.bg-blue08{background-color:#BCC7DD !important;}/*标题栏目*/
.bg-blue09{ background-color:#BEE4FF;}
.bg-blue10{ background-color:#f3f5f9;}
.bg-list{ background-color:#fafbfd; background-color:#f1f1f1;} 
.bg-green{ background-color:#228b22;}/*友好*/
.bg-green02{ background-color:#C8F39B;}
.bg-green03{ background-color:#f0ffe8;}
.bg-red{ background-color:#ff4500;}/*警告*/
.bg-orange{ background-color:#ff8533 !important;}
/*border*/
.bc-blue{ background-color:#55a7e3;}
.bb-blue{ border-bottom:1px solid #c6cede !important;}
.bor-a1s{border:1px solid #c6cede !important;}
.bor-a1s02{ border:1px solid #e8e8e8;} 
.bor-t1s{ border-top:1px solid #e8e8e8 !important;}
.bor-t1s01{ border-top:1px solid #dfe4ee;}
.bor-t1s02{ border-top:1px solid #f5f5f5;}
.bor-t1s03{ border-top:1px solid #f2f8fc;}
.bor-b1s{ border-bottom:1px solid #e8e8e8;}
.bor-b1s02{ border-bottom:1px solid #f2f2f2;}
.bor-b1s03{ border-bottom:1px solid #c6cede;}
.bor-b1s04{ border-bottom:1px solid #f5f5f5;}
.bor-b1s05{ border-bottom:1px solid #dfe4ee;}
.bor-b1s06{ border-bottom:1px solid #f4f4f4;}
.bor-r1s{ border-right:1px solid #eeeeee;}
.bor-r1s02{ border-right:1px solid #e8e8e8;} 
.bor-r1s03{ border-right:1px solid #f2f2f2;} 
.bor-r1s04{ border-right:1px solid #c6cede !important;} 
.bor-r1s05{ border-right:1px solid #e2f3ff;} 
.bor-l1s{ border-left:1px solid #f2f2f2;}
.bor-l1s02{ border-left:1px solid #e8e8e8;}
.bor-l1s03{ border-left:1px solid #fff;}
.bor-ls10{ border-left:10px solid #e8e8e8;}
.bbn{ border-bottom:none !important;}
.bln{ border-left:none !important;}
.brn{ border-right:none !important;}
.bortn{ border-top:none !important;}
/* CSS Document */


@charset "utf-8";
/* CSS Document */ 
.body div.ww100{ min-width:100%;}
/*pusmall*/
.pusmall .wrapper{ width:1000px; margin-left:auto;margin-right:auto; background:#fff; height:auto;}
.pusmall .wrapper02{ width:1000px; margin-left:auto;margin-right:auto;height:auto;}
.pusmall .wrapper03{ width:980px; margin-left:auto;margin-right:auto; background:#fff; height:auto;}
/*top-public-begin*/

	/*ToolTop-begin*/
	.ToolTop{ height:30px; background-color:#fbfbfb; width:100%; min-width:1000px;}
	.ToolTop .TnavList{ height:30px; width:50%;}
	.ToolTop .TnavList li{ height:30px; line-height:30px; position:relative; display:inline-block;float:left; z-index:110;white-space: nowrap; width:13%;}
	.ToolTop .TnavList li.w94{ width:85px !important;}
	.ToolTop .TnavList li a.Tnone,.ToolTop .TnavList li a.Tnt{ display:block;height:30px; padding:0px 7px; color:#747d87; overflow:hidden;cursor:pointer; border-left:1px solid #fbfbfb;border-right:1px solid #fbfbfb;white-space: nowrap;}
	.ToolTop .TnavList li a.Tnone:hover,.ToolTop .TnavList li a.OnCurt{ text-decoration:none;background-color:#fff; border-bottom:none; border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;color:#ff4500;}
	.ToolTop .TnavList li a span{ display:inline-block; float:left;}
	.ToolTop .TnavList li a{ position:relative;}
	.ToolTop .TnavList li a.Tnone i.corner{ background-position:0px 0px; width:9px; height:4px; display:block;right: 5px; position: absolute; top: 13px;}
	.ToolTop .TnavList li a:hover .corner,.ToolTop .TnavList li a.OnCurt i.corner{background-position:0px -6px !important;}
	.ToolTop .TnavList li a:hover{ border:none; color:#ff4500;}
	.ToolTop .TnavList li a.Tnt:hover{border-bottom:none; background-color:#fbfbfb; border-left:1px solid #fbfbfb;border-right:1px solid #fbfbfb; text-decoration:none;}
	
	.ToolTop .TnavList li p.Tntwo{ padding:0px 7px 5px 7px; display:none; min-width:62px; _width:55px; background-color:#fff;position: absolute; top: 30px; z-index:60;border:1px solid #e8e8e8;border-top:1px solid #fbfbfb;}
	.ToolTop .TnavList li p.Tntwo a{ display:block;white-space:nowrap;color:#747d87; line-height:24px;}
	.ToolTop .TnavList li p.Tntwo a:hover{ border:none; color:#ff4500;} 
	.ToolTop .TnavList li.Oldrig{position:absolute; right:-10px; _right:-65px;}
	.ToolTop .TnavList li.Oldrig02{position:absolute; right:-35px; _right:-90px;}
	
	.ToolTop .TrigW{ line-height:30px;}
	.ToolTop .TrigW a{ color:#747d87 !important; display:inline-block;}
	.ToolTop .TrigW a:hover{ color:#FF4500 !important;}
	
	.pusmall .ToolTop .TnavList li.Oldrig{right:-65px;}
	.pusmall .ToolTop .TnavList li.Oldrig02{right:-90px;}
	.pusmall .ToolTop .TnavList li{width:14%;}
	.pusmall .ToolTop .TnavList li a.Tnone i.corner{ right:2px;}
	/*ToolTop-end*/
	
	/*ToolHead-begin*/
	.ToolHead{ padding:10px 0px; background-color:#ffffff; width:100%;min-width:1000px;}
	.ToolHead .ToolLogo{ width:200px; height:60px;}
	.ToolHead .ToolLogo img{ vertical-align:middle;}
	/*ToolHead-end*/
	
	/*ToolNavbar-begin*/
	.ToolNavbar{position: relative;z-index: 104;z-index: 50;overflow: hidden;min-width: 1000px; width:100%;min-width:1000px; height: 40px;font-family: 'Microsoft YaHei';}
	.ToolNavbar .navbar-bg,.ToolNavbar .navbar-bg-top .navbar-content-box ul li.dt,.ToolNavbar .navbar-bg-top .navbar-content-box ul li.dd{-webkit-transition: .3s;transition: .3s;}
	.ToolNavbar-hover{overflow: visible;}
	.ToolNavbar .navbar-bg{position: absolute;width: 100%; min-width:1000px;height: 230px; background: rgba(30, 91, 151, .75); background:url(/assets/tools/shipei/navbarbg.png) repeat;/*_background:url(/assets/tools/shipei/navbarbg.png) #1e5b97 repeat;*/}
	.ToolNavbar .navbar-bg-top{height: 40px;border-top: 1px solid #5895d5;border-bottom: 1px solid #1d5997;background: #2f87c1;}
	.ToolNavbar .navbar-bg-top .navbar-content-box{position: absolute;top: 0;left: 0;width: 100%;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul{position: relative;float: left;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul.odd{ /*width:190px;*/width:210px;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul.odd li.dd{padding: 5px 20px 5px 20px; }
	.ToolNavbar .navbar-bg-top .navbar-content-box ul.odd li.dd a{ /*width:150px;*/width:169px;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul.both{/* width:240px;*/width:290px;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul.both li.dd a{/* width:100px; */width:120px;float: left; text-align:left; overflow:hidden;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul.both li.dd a.rig{ text-align:right; padding-right:20px;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul li.dt{height: 40px;line-height: 40px;font-size: 16px;text-align: center;cursor: pointer; border-left:1px solid #2f87c1; border-right:1px solid #2f87c1;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul li.dd{filter: alpha(opacity=0);opacity: 0;padding: 5px 10px 5px 10px;height: 179px; overflow:hidden;border-left: 1px solid #3a6fa2; font-size:14px;*zoom: 1;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul li.dd a{height: 25px;line-height: 25px;text-align: center;font-size: 14px;display:inline-block;padding-bottom: 3px;color: #c2e6fe;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul li.dd a:hover{color: #ffcc33; text-decoration:underline;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul li.dd:after{content: '\0020';display: block;height: 0;font-size: 0;clear: both;overflow: hidden;visibility: hidden;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul:hover .dt,.active{border-color: #3381d1;background: #55a7e3;}
	.ToolNavbar .navbar-bg-top .navbar-content-box ul:hover .dd{background: #184f8b;border-color: #184f8b;}
	.ToolNavbar a,.ToolNavbar a:link,.ToolNavbar a:visited,.ToolNavbar a:hover,.ToolNavbar a:active{text-decoration: none;cursor: pointer;color: #f5f5f5;}
	.ToolNavbar-hover .navbar-bg-top .navbar-content-box ul li.dd{filter: alpha(opacity=100);opacity: 1;}
	
	.ToolNavbar-hover .navbar-bg{ background-color: rgba(30, 91, 151, .75);}
	
 	/*pusmall*/
	.pusmall .ToolNavbar .navbar-bg-top .navbar-content-box ul.odd{ /*width:140px;*/width:160px;}
	.pusmall .ToolNavbar .navbar-bg-top .navbar-content-box ul.odd li.dd{padding: 5px 10px 5px 20px; _padding:  5px 0px 5px 20px;}
	.pusmall .ToolNavbar .navbar-bg-top .navbar-content-box ul.odd li.dd a{ width:115px;}
	.pusmall .ToolNavbar .navbar-bg-top .navbar-content-box ul.both{/* width:240px;*/width:270px;}
	.pusmall .ToolNavbar .navbar-bg-top .navbar-content-box ul li.dt{font-size: 14px;}
	.pusmall .ToolNavbar .navbar-bg-top .navbar-content-box ul li.dd{padding: 5px 10px 5px 10px;}
	.pusmall .ToolNavbar .navbar-bg-top .navbar-content-box ul li.dd a{font-size: 12px; width:110px;}
	.pusmall .ToolNavbar .navbar-bg-top .navbar-content-box ul.w114{ width:120px;}
	.pusmall .ToolNavbar-hover .navbar-bg-top .navbar-content-box ul li.dd{filter: alpha(opacity=100);opacity: 1;}
	/*ToolNavbar-end*/
	
	/*Map-navbar-begin*/
	.Map-navbar{ background-color:#ffffff; height:40px;}
	.Map-navbar .Mnav-left,.Map-navbar .Mnav-right,.Map-navbar .Mnav-right02{ display:inline-block; padding:5px 20px; line-height:30px; height:30px; color:#747d87;}
	.Map-navbar .Mnav-left a,.Map-navbar .Mnav-right a{ color:#0474c8; padding:0px 5px; }
	.Map-navbar .Mnav-right02 a{ color:#0474c8; padding-left:10px;}
	.Map-navbar .Mnav-right a{ float:left; display:inline-block;}
	 /*Map-navbar-end*/
	
.publicSearch{ padding:10px 10px; z-index:1;}
.publicSearch02{ padding:20px 0px 10px 130px;}
/*search-write-wrap-begin*/
.search-write-wrap{margin:0 auto; display:block;}
.search-write-wrap .search-write-cont,.search-write-wrap .SMSearTxt{ color:#56688a;}
.search-write-left,.search-write-right,.search-write-left02{display:inline-block;font: 16px arial; margin:0;zoom:1; float:left;}
.search-write-left,.search-write-left02{border:solid #c6cede;height: 38px;border-image: none;background: #FFF; vertical-align: top;overflow: hidden;}
.search-write-left{border-width:1px 0px 1px 1px; }
.search-write-left02{border-width:1px;}

.search-write-cont{float:left; height: 25px; line-height:25px; margin: 6px 0px 0px 10px; padding: 0px; background:none; border: 0px none; outline: 0px none;font-family: 'Microsoft YaHei';}
.search-write-right{width:90px;}
.search-write-btn{width:90px; background:#55a7e3; color:#fff;font-size: 14px;height:40px;padding: 0px;border: 0px none;cursor: pointer;}
.search-write-btn:hover{background-color:#2f87c1;}
.wbtnLink{ font-size:12px; color:#0474c8; line-height:40px; height:40px;letter-spacing:normal; *width:70px; _width:70px;}
.quickdelete{background:url(/assets/tools/shipei/quickdelete.png) 7px 12px #fff no-repeat; width:32px; height:32px; position:absolute; right:0; top:0; display:none;}
.search-hint,.search-hint02{font-size:14px; color:#c0c1c4; position:absolute; left:13px;margin-top:10px; *margin-top:8px;letter-spacing:normal; font-weight:normal; z-index:0; top:0;font-family: 'Microsoft YaHei';}
.SeaBtnCut{ background-color:#73c35b; height:40px; line-height:40px; text-align:center; width:90px; color:#fff; font-size:14px; float:left; display:block;}
.SeaBtnCut:hover{ text-decoration:none;filter: alpha(opacity=80);opacity: .8;}
.SeaBtnCut.ArtiBtn,.MachBtn.SeaBtnCut{ color:#fff;}

.publicTxt{ border:1px solid #c6cede; background-color:#fff; padding:0px 3px;}

.IMSearTxtWrap .IMSearTxt{ width:668px; border:none; border:1px solid #c6cede; background-color:#fff; min-height:103px;_height:103px;padding:5px; line-height:24px; font-size:16px;}
.publicSearch input.IMSearBtn{ height:35px; line-height:35px; color:#fff; background-color:#55a7e3; border:none;}
.publicSearch input.IMSearBtn:hover,.Tool-IcpMainPrivacy .IMPrivNode li a:hover{ background-color:#2f87c1;}

	/*history-one-begin*/
	a.IMSearBtn{ position:relative; display:block; cursor:pointer; z-index:1;}
	a.IMSearBtn i.corner,a.IMSearBtn i.cnerCurt{ width:9px; height:4px; cursor:pointer; display:inline-block; margin:15px 0 0 3px; position:absolute; right:10px; top:3px;*right:10px; *top:-10px; _top:3px; _float:left;} 
	a.IMSearBtn i.corner{ background-position:0px 0px;}
	a.IMSearBtn i.cnerCurt{background-position:0px -6px;}
	.BomreWrap{position:relative; z-index:12; }
	.Bomrecord{ position:absolute; left:20px; top:38px; *top:15px; _top:15px; z-index:12; background-color:#fff; width:180px;} 
	
	.Bomrecord .BomCor-arrow { height: 11px; left: 6px; line-height: 11px; overflow: hidden;  position: absolute;  top: -5px; width: 11px;} 
	.Bomrecord .BomCor-arrow em { color: #D5D4D4 !important; top: 0;}
	.Bomrecord .BomCor-arrow em,.Bomrecord .BomCor-arrow i { font-family: SimSun;  font-size: 11px; font-style: normal; left: 0; position: absolute;}
	.Bomrecord .BomCor-arrow i { color: #fff;top: 2px;} 
	
	.BomreList{ width:178px;box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); border:1px solid #D5D4D4;}
	.BomreList .BorWrapa{ color:#56688a;display:block; height:35px;line-height:35px; border-bottom:1px solid #f4f4f4; padding-left:10px; z-index:10; padding-right:10px; position:relative; cursor:pointer; overflow:hidden;}
	.BomreList .BorWrapa:hover{ text-decoration:none;background-color:#f9f9f9;}
	.BomreList .BorWrapa a{color:#56688a;}
	.BomreList .BorWrapa a:hover{ color:#f00;}
	.BomreList i.cloes,a.BomreMore i{ background:url(/assets/tools/shipei/ticon.png) no-repeat;}
	.BomreList i.cloes{display: block;position: absolute; background-position: -14px 1px; width:12px; height:13px; right:10px; top:12px;}
	.BomreList i.cloes:hover{ background-color:#52abd9; background-position:-14px -10px;  border-radius:3px;}
	
	a.BomreMore{ background-color:#f5f5f5; text-align:right; height:30px !important; line-height:30px !important;}
	a.BomreMore{ color:#999; padding-left:20px; position:relative;}
	a.BomreMore i{ background-position: -27px 0px; display:inline-block; width:12px; height:13px; position:absolute; right:65px; top:8px;}
	a.BomreMore:hover{ text-decoration:none;color: #f00;}
	
	.BomreWa{ width:85px; height:40px; position:absolute; z-index:12; right:-85px; *bottom:0px; *margin-bottom:10px; *top:3px;_top:2px;}
	/*history-one-end*/
	/*history-two-begin*/
	.TFloat-item{position: fixed;width:35px;bottom: 10%;z-index: 999; *position:absolute; _position:absolute; display:none;}
	.TFloat-item .Record-show{display: block;position: absolute;left: -154px;bottom: 0;text-align: center;border-radius: 2px;width: 143px;background: #fff;box-shadow: 0 1px 8px rgba(0,0,0,.1);border:1px solid #f4f4f4;}
	.TFloat-item .Record-show .Tgroup{padding: 10px 0;}
	.TFloat-item .Record-show .Tgroup a{display: block;padding-left: 18px;height: 38px;line-height: 38px;text-align: left;font-weight: 400;position: relative;color: #56688a;font-family:'Microsoft Yahei';cursor: pointer}
	.TFloat-item .Record-show .Tgroup a:hover{color: #2e4267;text-decoration: none;background-color: #dfe4ee}
	.TFloat-item .Record-show .Tgroup a i.cloes{position: absolute; background-position: -14px 1px;right:10px; top:12px;}
	.TFloat-item .Record-show .Tgroup a i.cloes:hover{ background-color:#f4f4f4; border-radius:3px;} 
	.TFloat-item .Record-show .arr{position: absolute;right: -6px;bottom: 14px;width: 6px;height: 11px;background: url(/assets/tools/shipei/code_arrow.png) 0 0 no-repeat} 
	
	.TFloat-item .Record-show .Tgroup a i.cloes,.TFloat-item .Record-show .Tgroup a.Remove i{display:block; width:12px; height:13px; position:absolute;  background:url(/assets/tools/shipei/ticon.png) -14px 1px no-repeat;*background-position: -14px 3px; _height:10px;}
	.TFloat-item .Record-show .Tgroup a.Remove{ color:#999; padding-left:38px;}
	.TFloat-item .Record-show .Tgroup a.Remove:hover{ background:none;color: #f00;}
	.TFloat-item .Record-show .Tgroup a.Remove i{ background-position: -27px 0px; left:18px; top:12px;} 
	
	.TFloat-item .Record,.TFloat-item .feedback,#TFloat{display: block;margin-bottom: 5px;border-radius: 2px;width: 35px;height: 31px;background: url(/assets/tools/shipei/iconsprite_btbar.png) no-repeat;cursor: pointer;box-shadow: 0 1px 3px rgba(0,0,0,.2)}
	.TFloat-item .Record{ background-position:-2px -44px;}
	.TFloat-item .feedback{ background-position:-2px -84px;}
	#TFloat{ background-position:-3px -4px;}
	.TFloat-item .Record:hover,.TFloat-item .Record:active,.TFloat-item .feedback:hover,.TFloat-item .feedback:active,#TFloat:hover,#TFloat:active{background-color: rgba(0,0,0,.75)}
 	
	/*history-two-end*/

/*top-public-end*/

/*footer-public-begin*/
.ToolAbout{ padding:10px 20px 30px 20px; min-height:70px;}
.ToolAbout .HeadH4{ height:30px; line-height:30px; padding-bottom:10px;} 
.ToolAbout .ToolAbCont p.tacHead{ font-size:14px; color:#773E3E;font-family: 'Microsoft YaHei'; padding:10px 0px;}
.ToolAbout .ToolAbCont p{ line-height:28px; color:#777777; text-indent:28px;}
.ToolAbout .ToolAbCont p b{ color:#773E3E; padding:0px 3px;font-family: 'Microsoft YaHei'; font-size:14px;}
/*siteBar-begin*/

/*default*/
.siteBar li{ width:199px; padding:10px 20px; height:146px;}
.siteBar li p.plist{ width:198px; height:120px; overflow:hidden;}
.siteBar li p.plist a{ display:inline-block; width:49%; float:left; height:30px; line-height:30px; color:#999999;}
.Map-navbar .Mnav-left a:hover,.siteBar li p.plist a:hover,.Map-navbar .Mnav-right a:hover{ color:#ff4500;}
.Map-navbar .Mnav-right .iconDown,.Map-navbar .Mnav-right .iconFK{ display:block; position:absolute; width:15px; height:15px; left:0px; top:7px;}
.Map-navbar .Mnav-right .iconDown{ background-position:-71px -24px;}
.Map-navbar .Mnav-right .iconFK{ background-position:-97px 0px;}
/*pusmall*/
 .pusmall .ToolAbout{ padding:10px 10px 20px 10px;}
 .pusmall .siteBar li{ width:189px; padding:10px 5px;}
 .pusmall .siteBar li p.plist{ width:189px;}

 /*GePrefectureWrap-end--------------------------------*/
.GMFimglist,.GMFimglist02{ height:166px; overflow:hidden;}
.GMFocusBoxWrap{ width:1200px; overflow:hidden; height:166px; margin:0px auto;}
.GMFocusBox{ width:1200px; height:166px; position:relative;}
.Fotline{ width:1px; height:166px; background-color:#fff; position:absolute; right:0px; bottom:0;}
.GMFocusBtn{ width:100%;} 
.GMFocusBtn a { background-image:url(/assets/tools/shipei/ticon.png);display: block; height: 72px; position: absolute; top: 45px; width: 18px;  /*z-index:104;*/z-index:51;overflow: hidden;}
.GMFocusBtn a:hover{}
.GMFocusBtn a.prevBtn{ background-position:-0px -59px; left:0px;}
.GMFocusBtn a.nextBtn{ background-position:-19px -59px; right:0px;}
.GMFocusBtn a.prevBtn:hover{ background-position:-38px -59px;}
.GMFocusBtn a.nextBtn:hover{ background-position:-57px -59px;}
.tFull{ width:1200px; overflow:hidden;}
/*.GMFimglist02 .siteBar{ width:2400px;}*/

.pusmall .GMFocusBox,.pusmall .tFull,.pusmall .GMFocusBoxWrap{ width:1000px;}
/*.pusmall .GMFimglist02 .siteBar{ width:2000px;}*/

.ToFooter{ height:43px;font-family: 'Microsoft YaHei';/*width:180px;width:24%;*/ }
.ToFooter a{ display:block; float:left; height:43px; line-height:40px; padding:0px 10px; position:relative; color:#56688a; border-top:3px solid #fff; border-right:1px solid #f4f4f4; width:80px; text-align:center;}
.ToFooter a:hover,.ToFooter .ToCurt{ text-decoration:none; background-color:#fff; border-top:3px solid #0474c8; color:#0474c8; } 
.ToFooter a i.Fline{ width:100%; height:1px; position:absolute; bottom:0px; left:0; display:block;}

/*.pusmall .ToFooter{ width:24%;}*/
.ToFootTs{ height:43px; line-height:43px; width:500px; overflow:hidden; text-align:right;}
.pusmall .ToFootTs{ width:400px;}
/*siteBar-end*/

.puw100{ width:100%; min-width:1000px;}
.ToolFooter{ min-height:40px; padding:20px 0px;}
.ToolFooter p{ text-align:center; font-size:12px; line-height:12px;}
.ToolFooter p.linkbtn{ padding-bottom:10px; color:#999999; padding-top:5px;}
.ToolFooter p.linkbtn a{ color:#999999; display:inline-block; padding:0px 10px;}
.ToolFooter p.linkbtn a:hover{color:#ff4500;}
.ToolFooter p.info{ color:#c0c1c4;}
.ToolFooter p.info span{ display:inline-block; padding-right:10px; color:#c0c1c4;}
/*footer-public-end*/

/*ToolPage-begin*/
.ToolPage{ padding:10px;}
.ToolPage .ToolPage-left,.ToolPage .ToolPage-right{}
.ToolPage .ToolPage-left .ExportBtn{ display:inline-block; padding:0px 15px; color:#fff; height:25px; line-height:25px;}
.ToolPage .ToolPage-left .ExportBtn:hover{ text-decoration:none;filter: alpha(opacity=80);opacity: 0.8;} 
.ToolPage .ToolPage-right a,.ToolPage .ToolPage-right span{ display:inline-block;float:left; color:#999999; cursor:pointer; margin-right:5px;}
.ToolPage .ToolPage-right a{background-color:#f7fafd; padding:3px 15px;}
.ToolPage .ToolPage-right a:hover{text-decoration:none; color:#338de6;filter: alpha(opacity=80);opacity: 0.8;}
.ToolPage .ToolPage-right span{ padding:3px 5px;}

.pagewrite{ border:1px solid #c6cede; width:30px; height:22px; line-height:22px; text-align:center; display:inline-block; float:left;}
.pusmall .ToolPage .ToolPage-right a{ padding:3px 7px;}
/*ToolPage-begin*/

/*ResultList-begin*/
.sort{display: inline-block;vertical-align: middle;width: 6px;height: 9px;overflow: hidden;margin:-1px 0 0 4px;background:url(/assets/tools/shipei/sortIcon.png) no-repeat;display:none;}
.down{background-position: 0 -10px;}
.up{background-position: 0 -20px;}    
/*ResultList-end*/

.corUp{border-width: 0px 4px 5px !important;}
.LI7{ margin-top:0 !important; *margin-top:0px;}

/*searchToolBox-*/
#ToolBox { border:#BFC2D3 1px solid;width:220px;position:absolute; background-color:#fff; display:none; z-index:50;}
#ToolBox ul { text-align:left; padding:0; margin:2px;}
#ToolBox ul li{ list-style-type:none; line-height:25px; background-color:#FAFAFA; }
#ToolBox ul li a{ display:block;cursor:pointer; width:99%; padding-left:2px; }
#ToolBox ul li a:hover{  background-color:#E8F0FB; color:#3333ff; text-decoration:none;}
#ToolBox ul li a .del{margin-right:5px; display:inline-block; float:left; color:#fff; background-color:#55a7e3; border:1px solid #0474c8; line-height:24px; height:24px; padding:0px 5px;}

/*Toolsrtising*/ 
.topTsCenter img{ width:468px; height:60px;}
.topTsRight{ width:410px; height:58px; border:1px solid #e8e8e8;}
.topTsRight ul{ width:200px; float:left; padding-left:5px; padding-top:3px;}
.topTsRight ul li{ display:block; height:17px; line-height:17px; width:200px; float:left; overflow:hidden; text-align:center;font-family:'Tahoma','simsun';}

.ToolsWrap{ background-color:#e8e8e8;}
.ToolsTxtWrap{ padding:10px; background-color:#fff;}
.ToolsTxtWrap .ToolslistW{ padding-left:10px; padding-right:10px; text-align:center; line-height:20px; height:60px; width:18%; float:left; display:inline-block;}
.ToolsTxtWrap .ToolslistW li{ height:20px; width:100%; overflow:hidden;font-family:'Tahoma','simsun';}
.ToolsImgWrap{ padding-top:10px; padding-bottom:10px;}
.ToolsImgWrap .AslistImg{ padding:0px 10px; line-height:20px; background-color:#fff;}
.ToolsImgWrap .AslistImg a{ display:block; text-align:center;}

.ToolsWrapIM .ToolsOne img{ width:270px; height:60px;}
.ToolsWrapIM .ToolsTwo img{ width:640px; height:60px;}
.ToolsWrapIM .ToolsThree img{ width:270px; height:60px;}

.ToolsImgWrap .ToolsFour img{ width:290px; height:40px;}
.ToolsImgWrap .ToolsFive img{ width:445px; height:40px;}

.WhoisOneIM{ width:300px; height:250px; background-color:#c0c1c4;}
.fix-layer{ position:fixed; top:10px;}
.fix-layer2{ position:absolute; bottom:10px;}

.IcpImgWrapIM{position:absolute; right:0px; top:1px; border-left:1px solid #f7f7f7; background-color:#fff; padding:4px 10px; z-index:1; *z-index:1;}
.IcpImgCIM{ width:300px; height:280px;}
/*pusmall*/
.pusmall .topTsCenter img{ width:370px; height:60px;}

.pusmall .ToolsWrapIM img{ height:50px;}
.pusmall .ToolsWrapIM .ToolsOne img{ width:215px;}
.pusmall .ToolsWrapIM .ToolsTwo img{ width:550px;}
.pusmall .ToolsWrapIM .ToolsThree img{ width:215px;}

.pusmall .ToolsImgWrap img{ height:35px;}
.pusmall .ToolsImgWrap .ToolsFour img{ width:290px;}
.pusmall .ToolsImgWrap .ToolsFive img{ width:345px;}

.pusmall .ToolsTxtWrap .ToolslistW{ width:17.8%;} 
/*ReLImgCenter*/
.ReLImgCenter{ text-align:center !important; float:none !important;display:table-cell; _display:inline-block;vertical-align:middle; /*width:100% !important;*/ _width:auto;}
.ReLImgCenter span,.ReLImgCenter a,.ReLImgCenter img{display:inline-block;vertical-align:middle; *margin-top:7px;float:none !important;}
.ReLImgCenter span{ *line-height:normal;}
.pusmall .ReLImgCenter .w280{ width:240px;}
.pusmall .ReLImgCenter .w70{ width:65px;}

.new_fea a{padding:0 5px; color: #0474c8;}

/*index-begin*/
.ClassHead-wrap,.ClassHead-wrap02,.ClassHead-wrap03{ margin:0px auto; background:#fff; height:36px;_height:37px; padding-top:10px; /*border-bottom:1px solid #c6cede;*/ background:url(/assets/tools/shipei/nBarbg.png) #fff left bottom repeat-x;}
.ClassHead-wrap a,.ClassHead-wrap02 a,.ClassHead-wrap03 a{ display:inline-block; float:left; padding:0px 20px; _padding:0px 15px; line-height:33px; height:33px; 
cursor:pointer; color:#0474c8;border-width:2px 1px 0px 1px;border-color:#fff;border-style:solid;}
.ClassHead-wrap a{border-color:#fff;}
.ClassHead-wrap02 a{border-color:#f1f9ff}
.ClassHead-wrap a:hover,.ClassHead-wrap02 a:hover,.ClassHead-wrap03 a:hover{ text-decoration:none; color:#56688a;}
.ClassHead-wrap a.CHeadcur,.ClassHead-wrap02 a.CHeadcur,.ClassHead-wrap03 a.CHeadcur{ padding:0px 20px;_padding:0px 15px; line-height:33px; height:33px; color:#56688a; text-decoration:none;border-top:2px solid #56688a;border-left:1px solid #c6cede;border-right:1px solid #c6cede;border-bottom:1px solid #fff;_border-bottom:2px solid #fff;}
.ClassHead-wrap a:hover,.ClassHead-wrap02 a:hover,.ClassHead-wrap03 a:hover{ color:#56688a;}
.ClassHead-wrap02 a.CHeadcur,.ClassHead-wrap02 a:hover,.ClassHead-wrap03 a:hover{ background:#fff;} 
 .pusmall .ClassHead-wrap a,.pusmall .ClassHead-wrap a.CHeadcur,.pusmall .ClassHead-wrap a:hover,.pusmall .ClassHead-wrap02 a,.pusmall .ClassHead-wrap02 a.CHeadcur,.pusmall .ClassHead-wrap02 a:hover,.pusmall .ClassHead-wrap03 a,.pusmall .ClassHead-wrap03 a.CHeadcur,.pusmall .ClassHead-wrap03 a:hover{ padding:0px 8px;}
.pusmall .ClassHead-wrap,.pusmall .ClassHead-wrap02{ width:1000px;}

.ClassHead-wrap,.ClassHead-wrap02{ width:1200px;}
.ClassHead-wrap03{ width:950px;}
.pusmall .ClassHead-wrap03{ width:760px;}

/*bgnone*/
.bgnone:hover{ background:none !important;}

.loading{padding:10px 0px;}
.loading img{ vertical-align:bottom;}
@charset "utf-8";
/* CSS Document */
	.ClassHead-wrap{ width:100%; margin:0px auto; height:36px; _height:37px; padding-top:10px; /*border-bottom:1px solid #c6cede;*/ background:url(/assets/tools/shipei/nBarbg.png) #fff left bottom repeat-x; position:relative;}
	.ClassHead-wrap a{ display:inline-block; float:left; padding:0px 15px; line-height:33px; height:33px; cursor:pointer; border-width:2px 1px 0px 1px;border-color:#fff;border-style:solid;color: #0474c8;}
	.ClassHead-wrap a:hover{ text-decoration:none; color:#56688a;}
	.ClassHead-wrap a.CHeadcur{ padding:0px 19px; line-height:33px; height:33px; color:#56688a; text-decoration:none;border-top:2px solid #56688a;border-left:1px solid #c6cede;border-right:1px solid #c6cede;border-bottom:1px solid #fff;_border-bottom:2px solid #fff;}

.Rigbtn{ height:25px; padding-top:10px; font-size:12px;}
.Rigbtn label{ _margin-top:10px;}

/*shipei-baogao-end*/
.shipeiCauseWrap{ padding:20px;}

.shipeiCause{ width:1160px;}
.shipeiCause02{ width:820px;}
.spCauseList{ width:100%;}
.spCauseList li{ width:96%; padding:0 2%; line-height:30px; color:#747d87;white-space: normal;word-break: break-all;}

.pusmall .shipeiCause{ width:960px;}
.pusmall .shipeiCause02{ width:620px;}
.pusmall .shipeiCause02{ width:620px; _padding-right:10px !important;}
/*shipei-baogao-end*/

/*shipei-kuaping-begin*/
.shipeiImg{ width:318px;}
  
.spPhoneType{ padding-top:5px; background-color:#fff; padding-left:20px;}
.spPhoneType dl{ display:inline-block; float:left;background-color:#fff; z-index:3;}
	.spPhoneType dl .dtImgPh,.spPhoneType dl .dtImgPb,.spPhoneType dl .dtImgPc,.spFanz a{ width:55px; min-height:60px; _height:60px;position:relative; display:block; cursor:pointer;}
	.spPhoneType dl .dtImgPh{background:url(/assets/tools/shipei/ico-typephone.png) center 35% no-repeat; }
	.spPhoneType dl .dtImgPb{background:url(/assets/tools/shipei/ico-typeTablet.png) center 35% no-repeat; }
	.spPhoneType dl .dtImgPc{background:url(/assets/tools/shipei/ico-typePC.png) center 35% no-repeat; }
	
	.spPhoneType dl:hover .dtImgPh{background:url(/assets/tools/shipei/ico-typephonehover.png) center 35% no-repeat; }
	.spPhoneType dl:hover .dtImgPb{background:url(/assets/tools/shipei/ico-typeTablethover.png) center 35% no-repeat; }
	.spPhoneType dl:hover .dtImgPc{background:url(/assets/tools/shipei/ico-typePChover.png) center 35% no-repeat; }
	
	.spPhoneType dl .dtImgPh span,.spPhoneType dl .dtImgPb span,.spPhoneType dl .dtImgPc span,.spFanz a span{ display:block; position:absolute; bottom:5%; text-align:center; color:#56688a; width:100%;}
.spPhoneType dl .dtType{border:1px solid #e8e8e8; min-height:75px;background-color:#fff; padding:10px; display:none; position:absolute; z-index:15; left:0;}
.spPhoneType dl .dtType a{ display:inline-block; padding:3px 8px; white-space: nowrap; float:left;color:#617291; border:1px solid #f7f7f7;font-family: 'Microsoft YaHei'; font-size:14px; margin-bottom:10px; float:left; margin-right:10px;}
.spPhoneType dl .dtType a i{ font-size:12px; color:#929db3;}
.spPhoneType dl .dtType a:hover i,.spPhoneType dl .dtType a.spCurt i{ color:#fff;}
.spPhoneType dl .dtType a:hover,.spPhoneType dl .dtType a.spCurt{ background-color:#55a7e3; text-decoration:none; border:1px solid #e8e8e8; color:#fff;}
.Sp-arrow{background-position:0px -6px; position:absolute; top:-5px; left:20px; width:9px; height:5px;}

.spTypeCent{ border: solid #c6cede 2px; border-radius:5px;webkit-border-radius:5px; moz-border-radius:5px; ms-border-radius:5px;}
.spTypeCent iframe{ padding:0; margin:0; overflow:hidden;}
.ty320-480{ width:320px; height:480px;}
.ty1280-720{ width:1280px; height:720px;}
.spMain{ min-height:610px; background:url(/assets/tools/shipei/ico-grid.png) repeat; width:100%; padding:32px; z-index:2;}
#ruller { position: absolute; width: 100%; top:0px; left:30px;  z-index: 10; background:url(/assets/tools/shipei/ico-ruller.png) no-repeat;height: 32px;}
#ruller02 { position: absolute; height: 100%; top:70px; left:0px;  z-index: 10; background:url(/assets/tools/shipei/ico-ruller02.png) no-repeat;width: 32px;}

.spreturn{background:url(/assets/tools/shipei/ico-sphome.png) 7px 0px #55a7e3 no-repeat; padding-left:45px !important; color:#fff !important; position:absolute; right:0;font-family: 'Microsoft YaHei'; font-size:14px;}
.spreturn:hover{ text-decoration:none; color:#fff !important; opacity:.8;filter: alpha(opacity=80);}
.spFanz a{background:url(/assets/tools/shipei/ico-hp.png) center 35%  no-repeat;} 
.spFanz a:hover{  background:url(/assets/tools/shipei/ico-hphover.png) center 35%  no-repeat; text-decoration:none;}

/*.pusmall .spPhoneType dl{ width:304px;}
.pusmall .spPhoneType dl .dtType{ width:300px;}*/
.pusmall .shipei-urlWrap{ width:970px;}
.pusmall .shipei-urlWrap .w563{ width:483px;}
.pusmall .shipei-urlWrap .w291{ width:241px;}
/*shipei-kuaping-end*/

/*shipei-urlshengcheng-begin*/
.shipei-urlWrap{ width:1170px; padding:10px 15px;}
.shipei-urlWrap .spurlCent{ border:1px solid #E8E8E8; float:left; position:relative;}
.shipei-urlWrap .spurlCent textarea{ border:none; width:96%; padding-left:10px; line-height:25px; padding-top:5px; font-size:12px; color:#747d87;font-family: 'Microsoft YaHei';}
.w563{ width:583px;}
.w291{ width:291px;}
.shipei-urlWrap .spurlCent .txaInfo,.shipei-urlWrap .spurlCent .txaInfo02{ line-height:25px; font-size:12px; color:#aaaaaa; padding:5px; position:absolute; top:0; left:0;}
.shipei-urlWrap .spurlCent .txaInfo02{ padding:5px !important;}

.spHeadwrap{ width:1170px;}
.spHeadwrap .Onew{ width:24.9%; _width:24.9%; float:left; line-height:30px;font-family: 'Microsoft YaHei';}
.spHeadwrap .Onew .sphint{ font-size:12px; color:#aaa; padding-left:10px;}
.spHeadwrap .Onew .spOwh{ font-size:14px; color:#0474c8;}
.pusmall .spHeadwrap{ width:970px;}
.pusmall .spHeadwrap .Onew span{ display:block; float:none; line-height:22px;} 
.pusmall .spHeadwrap .Onew .sphint{ padding-left:0;}

/*filter-choese-begin*/ 
.CateTit{ padding-right:5px; width:70px; text-align:right; color:#747d87; font-weight:normal;display:inline-block; font-size:12px;height:30px; line-height:30px;}
.MainCate-choese{display:inline-block; float:right; height:30px;}
.MainCateW-choese,.MainCateW-choese02{height:30px; display:inline-block; float:left; margin-right:10px; z-index:3;}
.MainCateW-cont,.MainCateW-cont02{cursor: pointer; padding: 0px 5px;color:#747d87;height:28px;line-height:28px;font-size:12px;border:solid #c6cede; background-color:#fff;border-width:1px; display: inline-block;-webkit-user-select:none;-moz-user-select:none;}
.MCicon-drop-down{position: absolute;right: 10px;top: 13px;overflow: hidden;width: 0px;height: 0px;cursor: pointer;border-width: 5px 4px 0px;border-color: #999999 #FFF;border-style: solid;display: block;}
.MainCateC-down,.MainCateC-down02{position: absolute;top: 30px;left: 0px;right: 0px;border:solid #c6cede;border-width:0px 1px 1px 1px;list-style-type: none;z-index: 1;font-size:12px;background: #FFF none repeat scroll 0% 0%;overflow: auto;max-height: 220px;letter-spacing:normal;display:none;}
.MainCateC-down li,.MainCateC-down02 li{line-height:21px; height:21px; cursor: pointer;text-align:left;}
.MainCateC-down li:hover,.MainCateC-down02 li:hover{background: #f5f5f5;}
.MainCateC-down li a,.MainCateC-down02 li a{color:#747d87; display:block;padding-left: 7px;}
.MainCateC-down li a:hover,.MainCateC-down02 li a:hover{text-decoration:none;}

.MainCateW-choese{width:42px;}
.MainCateW-cont{ width: 30px;}
.MainCateC-down{width:40px;}
.MainCateW-choese02{width:162px;}
.MainCateW-cont02{ width: 150px;}
.MainCateC-down02{width:160px;}
/*filter-choese-end*/ 

.spurlBtnWrap{ padding:10px 0px 0px 0px; width:100%;}
.spurlBtn{ border:none; background-color:#55a7e3; color:#fff; line-height:30px; height:30px; width:110px; text-align:center;}

/*shipei-urlshengcheng-end*/
#loadingDiv { background-color: #000;  height: 100%; left: 0; display:none; filter: alpha(opacity=70);opacity: .7;  position: fixed;text-align: center;  top: 0;   vertical-align: middle;   width: 100%; z-index: 110;}
#loadingDivMessage{
     background-color: #fff; display: none;position: absolute;  top: 10%;  left: 43%; text-align:center; width: 200px;  font-weight:bold; margin: 15% auto;  height: 50px;  padding: 8px;  border: 8px solid #E8E9F7; z-index:111; overflow: auto;
}
